.search-btn span {
  font-size: 32px;
}

.search-btn-container {
  text-align: center;
  background-color: white;
  border: 0;
  cursor: pointer;
  min-width: 5rem;
}

.search-btn-container:hover {
  background-color: rgba(0,0,0,.12);
}

.search-btn-active {
  background-color: rgba(0,0,0,.09);
}
