<h2 mat-dialog-title>
  <p *ngIf="data.success; else errorHeader">
    <span class="text-success">{{'validators.success' | translate | titlecase}}</span>
  </p>
  <ng-template #errorHeader>
    <span class="text-danger">{{'validators.error' | translate | titlecase}}</span>
  </ng-template>
</h2>
<mat-dialog-content class="mat-typography">
  <p *ngIf="data.success; else error">
    {{'dialogs.user-saved.successContent' | translate}}
  </p>
  <ng-template #error>
    {{'dialogs.user-saved.errorContent' | translate}}
    <p>{{data.error | json}}</p>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mt-4">
  <button mat-button mat-dialog-close (click)="onOk()">OK</button>
</mat-dialog-actions>
