<h2 mat-dialog-title>
  <p *ngIf="data.success; else errorHeader">
    <span class="text-success">Success!</span>
  </p>
  <ng-template #errorHeader>
    <span class="text-danger">Error!</span>
  </ng-template>
</h2>
<mat-dialog-content class="mat-typography">
  <p *ngIf="data.success; else error">
    New password was assigned successfully!
  </p>
  <ng-template #error>
    New password was not assigned! :(
    <p>{{data.error | json}}</p>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mt-4">
  <button mat-button mat-dialog-close (click)="onOk()">OK</button>
</mat-dialog-actions>
