<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput formControlName="name" placeholder="{{'user.name' | translate}}" autofocus>
    </mat-form-field>
    <small class="text-secondary font-italic">{{'text.nameIsNotForChange' | translate}}</small>
    <p class="text-danger"
       *ngIf="name.errors !== null && (name.touched || name.dirty); else loading">
      <span *ngIf="name.errors['required']; else asyncErrors">{{'user.name' | translate}} {{'validators.required' | translate}}.</span>
      <ng-template #asyncErrors>
        {{name.errors['message'] | translate}}
      </ng-template>
    </p>
    <ng-template #loading>
      <app-loading *ngIf="name.pending || info.pending"></app-loading>
    </ng-template>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput formControlName="info" placeholder="{{'user.info' | translate}}">
    </mat-form-field>
    <p class="text-danger"
       *ngIf="info.errors !== null && (info.touched || info.dirty)">
      {{info.errors['message'] | translate}}
    </p>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput formControlName="age" placeholder="{{'user.age' | translate}}">
    </mat-form-field>
    <p class="text-danger"
       *ngIf="age.errors !== null && (age.touched || age.dirty)">
      <span *ngIf="age.errors['error']">{{age.errors['error'] | translate}}</span>
    </p>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput formControlName="birthday" placeholder="{{'user.birthday' | translate}}">
    </mat-form-field>
    <p class="text-danger"
       *ngIf="birthday.errors !== null && (birthday.touched || birthday.dirty)">
      {{birthday.errors['message'] | translate}}
    </p>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput formControlName="nextNotify" placeholder="{{'user.nextNotify' | translate}}">
    </mat-form-field>
    <p class="text-danger"
       *ngIf="nextNotify.errors !== null && (nextNotify.touched || nextNotify.dirty)">
      {{nextNotify.errors['message'] | translate}}
    </p>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput formControlName="firstLogin" placeholder="{{'user.firstLogin' | translate}}">
    </mat-form-field>
    <p class="text-danger"
       *ngIf="firstLogin.errors !== null && (firstLogin.touched || firstLogin.dirty)">
      {{firstLogin.errors['message'] | translate}}
    </p>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput formControlName="password" type="password" placeholder="{{'user.newPassword' | translate}}" autocomplete="current-password">
    </mat-form-field>
    <p class="text-danger"
       *ngIf="password.errors !== null && password.errors['required'] && (password.dirty || password.touched);">
      {{'user.newPassword' | translate}} {{'validators.required' | translate}}.
    </p>
  </div>

  <div *ngFor="let err of userForm.errors">
    <span>{{err}}</span><br>
  </div>

  <div class="form-group text-center button-row mt-4">
    <button mat-flat-button color="primary" type="submit" [disabled]="!userForm.valid">{{'buttons.save' | translate}}</button>
    <button mat-flat-button color="accent" type="reset">{{'buttons.reset' | translate}}</button>
    <!--<button mat-flat-button color="warn" type="button" (click)="showErrors();">Show errors in console</button>-->
  </div>

</form>
