.chevron span {
  font-size: 25px;
}

.chevron-container {
  text-align: center;
  background-color: white;
  border: 0;
  cursor: pointer;
  min-width: 5rem;
  background-color: rgba(0, 0, 0, 0.09);
}

.chevron-container:hover {
  background-color: rgba(0,0,0,.12);
}

.chevron-active {
  background-color: rgba(0,0,0,.2);
}
