.user-choosen {
  border: 0;
  color: rgba(0,0,0,.87);
  min-height: 5.5rem;
}

.ellipsis-oneliner {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hover:hover {
  background: rgba(0,0,0,.12);
}

.cursor-pointer {
  cursor: pointer;
}

.first-col {
  min-width: 40%;
}
