
.panel-shadow {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.disable-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.options {
  position: sticky;
  z-index: 1;
  overflow-y: scroll;
  height: 32.5rem;
  background-color: white;
}


.select {
  position: relative;
}
