.panel-shadow {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.disable-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  height: 100%;
  position: relative;
}

.options {
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: 0;
  background: #fff;
  list-style: none;
  font-weight: normal;
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;
  height: 32.5rem;
  z-index: 1;
}

.chosen {
  position: static;
  display: inline;
  background: none;
  width: auto;
  height: auto;
  top: auto;
  right: auto;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
