<div class="container pt-4 pb-4">
  <div class="select d-flex flex-column w-100 panel-shadow disable-user-select">
    <div class="chosen">
      <div class="d-flex flex-row">
        <app-user-list-chosen [selectedUser]="selectedUser"
                         class="d-flex align-self-stretch flex-grow-1">
        </app-user-list-chosen>
        <app-user-list-chevron (optionsHiddenChange)="onOptionsHiddenChange($event)" class="d-flex align-self-stretch"></app-user-list-chevron>
      </div>
    </div>
    <div *ngIf="!(isDropdownHidden$ | async) as dropdownHidden" class="options panel-shadow">
      <app-user-list-search></app-user-list-search>
    </div>
  </div>
</div>

