<div class="mt-4 col-md-4 offset-md-4 text-center align-content-center">
  <form [formGroup]="remindForm" (ngSubmit)="onSubmit()">
    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput formControlName="name" placeholder="Username" autofocus>
      </mat-form-field>
      <p class="text-danger"
         *ngIf="name.errors !== null && name.errors.required;">
        Username is required.
      </p>
      <div *ngIf="!name.pending; else loading;">
        <p class="text-danger"
           *ngIf="name.errors !== null; else loginFound;">
          {{name.errors.message}}
        </p>
        <ng-template #loginFound>
          <p class="text-success">
            Username correct!
          </p>
        </ng-template>
      </div>
    </div>

    <div class="button-row">
      <button mat-flat-button [disabled]="!remindForm.valid" color="accent">Remind</button>
      <button mat-flat-button type="button" routerLink="/login" color="">Back to Login</button>
    </div>
  </form>
</div>


