<div class="select d-flex flex-column w-100 panel-shadow disable-user-select">
  <div class="choosen">
    <div class="d-flex flex-row">
      <app-user-choosen [selectedUser]="selectedUser"
                        class="d-flex align-self-stretch flex-grow-1">
      </app-user-choosen>
      <app-user-dropdown-list-chevron class="d-flex align-self-stretch"></app-user-dropdown-list-chevron>
    </div>
  </div>
  <div class="options panel-shadow {{dropdownHidden ? 'hide' : 'show'}}">
    <app-user-search></app-user-search>
  </div>
</div>
