.hide {
  display: none;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.show {
  display: block;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.panel-shadow {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.disable-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.choosen, .options {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.options {
  margin-top: 5.5rem;
  z-index: 1;
}

.select {
  min-height: 5.5rem;
  position: relative;
}
