.chevron::after {
  content: '\25bd';
  font-size: 25px;
  color: #cc314e;
}

.chevron-container {
  text-align: center;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.chevron-container:hover {
  background-color: rgba(0,0,0,.12);
}

.chevron-active {
  background-color: rgba(0,0,0,.09);
}
