<div class="d-flex flex-row user-dropdown-item p-2 hover cursor-pointer" (click)="selectUser()">
  <div class="first-col">
    <div class="ellipsis-oneliner w-75">
      {{'user.name' | translate}}: <span class="text-primary">{{user.name}}</span>
    </div>
    <div>
      {{'user.age' | translate}}: <span class="text-primary">{{user.age}}</span>
    </div>
    <div class="ellipsis-oneliner w-75" title="">
      {{'user.info' | translate}}: <span class="text-primary">{{user.info}}</span>
    </div>
  </div>
  <div class="align-self-center ml-4">
    {{'user.birthday' | translate}}: <span class="text-primary">{{user.birthday | date}}</span>
  </div>
</div>
