<div class="d-flex flex-row user-dropdown-item p-2">
  <div class="">
    <div class="">
      <div class="ellipsis-oneliner w-75">
        Name: Lorem qwlke qkej qwklejq lkqwjlwkq ejqwklej qwlkej wqkljewkl qjemlkwqelkwqme lqkweqwkl qewklj qwklejq wlkejwqlks
      </div>
    </div>
    <div class="">
      <div>
        Age: 18
      </div>
    </div>
    <div class="">
      <div class="ellipsis-oneliner w-75" title="">
        Info: something from db, it can be a long long long long long long long story
      </div>
    </div>
  </div>
  <div class="align-self-center ml-4">
    <span>birthday</span>
  </div>
</div>
