.user-dropdown-item {
  border: 0;
  color: rgba(0,0,0,.87);
  box-shadow: 0 -1px 4px -1px rgba(0, 0, 0, .2);
  background-color: white;
}

.ellipsis-oneliner {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hover:hover {
  background-color: #F3F3F3;
}

.cursor-pointer {
  cursor: pointer;
}

.first-col {
  min-width: 50%;
}
